<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bitcamp.op.mapper.mybatis.UserMapper">
	
	<select 
	id="selectById" 
	resultType="com.bitcamp.op.user.model.UserVO"> <!-- 결과를 반환할곳 -->
		
		select * from userinfo where user_id = #{id}
	
		</select>
	<insert 
	id="insertMember" 
	parameterType="com.bitcamp.op.user.model.UserVO"
	>
		insert into userinfo values(num_seq.nextval,#{user_id},#{user_pw},#{user_name},#{user_birth},
		#{user_gender},#{user_email},#{user_phone},#{user_photo})
		
		
		
	</insert>
</mapper>